extends ../../layouts/default

block content
	.page-intro: .container
		h1 Brigade's projects
		p We like to share the projects that the brigade is working.
		.buttons
			a(href='/members/mentors').btn.btn-primary View available mentors
			if !user
				a(href='/join').btn.btn-default Join Code 4 Puerto Rico
	.container
		h2 Brigade projects
